html {box-sizing: border-box; font-size: 16px; color:#333333;}
ol, ul {margin: 0;padding: 0; list-style: none;}
a, a:hover, a:link, a:visited {text-decoration: none;}
body {
	background-color: #eeeeee;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
header {
    background-color: #ffe600;
    padding: 8px 0px;
}

header, main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container, main .container{
    margin: 0px 16px;
    display: flex;
    flex-wrap: nowrap;
}
.container{
    height: auto;
    width: 1280px;
    max-width: 1280px;
}
/* --------------- */
/* header */

.header-logo {
    padding: 0 16px 0 0;
}
.header-logo a{
    display: block;
    background-image: url("../../assets/images/Logo_ML@2x.png");
    width: 53px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 53px;
}

.search-input {
    outline: 0;
    background-color: #fff;
    color: #333333;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    box-sizing: border-box;
    padding: 7px 60px 7px 15px;
    width: calc(100% - 46px);
    font-size: 18px;
}

.search-input::placeholder {
    color: #999999;
}

.search-button{
    cursor: pointer;
    padding:5px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 46px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    transition: all .3s;
}
.search-button:hover{
    background-color: #e7e7e7;
}

.search-button-icon{
    display: block;
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-image: url("../../assets/images/ic_Search@2x.png");
    background-repeat: no-repeat;
}

/* header */
/* --------------- */

/* --------------- */
/* main */
.result-box{
    padding: 0;
    width: 100%;
}

.breadcrumb{
    font-size: 14px;
    padding: 16px 0px;
    color: #999999;
}

.list-container, .detail-container{
    margin: 0;
    background: #fff;
    border-radius: 4px;
}
.list-container{
    padding: 0 16px
}
.list{
    display: flex;
    flex-direction: column;
}
.list-item:not(:last-child){
    border-bottom: 1px solid #eeeeee
}

.list-item{
    display: flex;
    padding: 16px 0px;
    color: #333333;
    cursor: pointer;
}

.list-item-image img{
    width: 180px;
    height: 180px;
    border-radius: 4px;
}

.list-item-content{
    margin-left: 16px;
    width: 66%;
}

.list-item-price{
    padding-top: 16px;
}

.list-item-price h3.price{
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

.list-item-title{
    font-size: 18px;
    width: 66%;
    font-weight: 300;
}

.list-item-state{
    padding-top: 24px;
}

.icon{
    width: 36px;
    height: 36px;
}

.free-shipping {
    margin-left: 8px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/ic_shipping@2x.png");
    background-repeat: no-repeat;
}

/* main */
/* --------------- */

/* --------------- */
/* detail */

.detail-container{
    display: flex;
    flex-direction: column;
}
.detail-main{
    display: flex;
    flex-wrap: wrap;
}
.detail-main .detail-main-img{
    width: 680px;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-main-info{
    margin-top: 32px;
    margin-left: 16px;
    width: 579px;
}
.detail-main-info h1{
    margin: 16px 0px 0px;
    font-size: 24px;
}

.detail-main-info h3{
    margin: 32px 0px;
    font-size: 46px;
}

.detail-main-info h3 span{ font-weight: 300; }

.list-item-price h3 span.sign{ margin-right: 8px; }
.detail-main-info h3 span.sign{ margin-right: 16px; }

.list-item-price h3 span.amount,
.detail-main-info h3 span.amount{margin-right: 3px; }

.list-item-price h3 span.decimals,
.detail-main-info h3 span.decimals{
    font-size: 0.53em;
    vertical-align: top;
}

.detail-main-info .condition{ font-size: 14px; }

.detail-main-info button{
    border-color: transparent;
    background-color: #3483fa;
    color: #fff;
    width: calc(100% - 32px);
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 24px;
    height: 48px;
    text-align: center;
    border-radius: 6px;
    transition: .18s ease-out;
    transition-property: background,color;
    display: inline-block;
    cursor: pointer;
}
.detail-main-info button:hover{
    background-color: #2968c8;
}

.detail-description{
    width: 70%;
    margin: 32px 0px 32px 32px;
}
.detail-description h3{
    margin: 0px 0px 32px
}
.detail-description div{
    font-size: 16px;
    color:#999999
}
/* detail */
/* --------------- */

@media (max-width: 1280px){
    .search-button-icon{
        background-image: url("../../assets/images/ic_Search.png");
    }
    .header-logo a{
        background-image: url("../../assets/images/Logo_ML.png");
    }
    .free-shipping {
        background-image: url("../../assets/images/ic_shipping.png");
    }
    .detail-main-info{
        margin-left:32px
    }
}

